<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mamba Fitness | Info</title>
</head>
<body>
    <!-- HEADER Y LOGO -->
    <header class="header-container">
        <div class="header__logo"><a href="../index.html"><img src="../icons/178757735_510061277039756_3197477257348988885_n.png" alt="logo_mamba_fitness"></a></div>
        <nav>
            <input type="checkbox" id="burguer-menu">
            <label for="burguer-menu"><i class="fa fa-bars"></i></label>
            <ul class="header__menu">
                <li class="header__mene-li"><a href="../index.html">Home</a></li>
                <li class="header__mene-li"><a href="./info.html">Horarios y Ubicacion</a></li>
                <li class="header__mene-li"><a href="./contact.html">MAMBA y Contacto</a></li>
            </ul>
        </nav>  
    </header>
    <!-- MAIN CONTENT -->  
    <main class="main-contact--container">
        <!-- MAMBA BIO -->
        <img src="../fotos/contact1.jpg" alt="background_img1">
        <img src="../fotos/contact2.jpg" alt="background_img2">
        <div class="bio-container">
            <h2 class="bio__h2">mamba fitness</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur unde tempora beatae optio quisquam voluptatibus molestias! Sit corrupti ea dolorum, deserunt minus libero mollitia animi laborum facilis aliquid, voluptas explicabo! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis debitis libero necessitatibus quaerat, est optio veniam maiores soluta nesciunt! Molestias accusamus totam repellat veritatis, libero suscipit tempore quae corrupti odit.</p>
        </div>     
        <!-- CONTACTO -->  
        <div class="form-container">
            <h2 class="form-h2">contacto</h2>
            <div class="form__input"><input type="text" placeholder="Nombre"></div>
            <div class="form__input"><input type="email" placeholder="Mail"></div>
            <div class="form__input"><input type="datetime" placeholder="Ingrese un dia"></div>
            <div class="form__input"><button></button></div>
        </div>
    </main>
    <!-- FOOTER & SOCIAL MEDIA -->
    <footer class="footer-container">
        <ul class="social-media">
            <li class="social_media__li"><a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
            <li class="social_media__li"><a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
            <li class="social_media__li"><a href="https://www.youtube.com" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
            <li class="social_media__li"><a href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
        </ul>
        <div>
            <span>copyright rodrigo garcia nayar - diseno y desarrollo by DevCha</span>
        </div>
    </footer>
        <!-- SCRIPTS -->
        <script src="https://kit.fontawesome.com/c539e2d60d.js" crossorigin="anonymous"></script>
</body>
</html>