<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mamba Fitness | Info</title>
    
</head>
<body>
    <!-- HEADER Y LOGO -->
    <header class="header-container">
        <div class="header__logo"><a href="../index.html"><img src="../icons/178757735_510061277039756_3197477257348988885_n.png" alt="logo_mamba_fitness"></a></div>
        <nav>
            <input type="checkbox" id="burguer-menu">
            <label for="burguer-menu"><i class="fa fa-bars"></i></label>
            <ul class="header__menu">
                <li class="header__mene-li"><a href="../index.html">Home</a></li>
                <li class="header__mene-li"><a href="./info.html">Horarios y Ubicacion</a></li>
                <li class="header__mene-li"><a href="./contact.html">MAMBA y Contacto</a></li>
            </ul>
        </nav>  
    </header>
    <!-- MAIN CONTENT -->  
    <main class="main-info--container">
        <!-- SCHEDULE -->
        <img src="../fotos/hero2.jpg" alt="background_img">
        <div class="info__schedule">
            <h2 class="info__schedule-h2">horarios</h2>
            <p>Lunes a Viernes</p>
            <p>8hs a 10hs - 15hs a 21hs</p>
            <p>Sabados</p>
            <p>10hs y 11hs</p>
        </div>
        <!-- LOCATION -->
        <div class="info__location">
            <h2 class="info__location-h2">ubicacion</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13139.934324303145!2d-58.4667107!3d-34.579282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1cfc17327412161a!2sMamba%20Fitness!5e0!3m2!1ses!2sar!4v1656016748647!5m2!1ses!2sar" width="100%" height="100%" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </main>
    <!-- FOOTER & SOCIAL MEDIA -->
    <footer class="footer-container">
        <ul class="social-media">
            <li class="social_media__li"><a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
            <li class="social_media__li"><a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
            <li class="social_media__li"><a href="https://www.youtube.com" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
            <li class="social_media__li"><a href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
        </ul>
        <div>
            <span>copyright rodrigo garcia nayar - diseno y desarrollo by DevCha</span>
        </div>
    </footer>
    <!-- SCRIPTS -->
    <script src="https://kit.fontawesome.com/c539e2d60d.js" crossorigin="anonymous"></script>
</body>
</html>