@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Syne&display=swap');

/* COLORS */

$header_color: #000000;
$footer_color: #403D3F;
$button_color: #E3B505;
$body_color: #221F1F;

/* FONT SIZE */

$small_font-size: 1em;
$text_font-size: 1.6em;
$large_font-size: 2.6em;
$h2_font-size: 4.23em;
$h1_font-size: 6.85em;

/* FONT FAMILY */

$title_font: 'Krona One', sans-serif;
$text_font: 'Syne', sans-serif;

/* MARGIN & PADDING */

$xsmall: 1rem;
$small: 2rem;
$medium: 2.5rem;
$large: 3rem;